@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Noto+Sans+JP:wght@400;700;900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
}

.header .nav {
  text-align: center;
  background-color: #fffefe;
}

.header .nav .logo {
  font-family: 'Coiny', cursive;
  font-size: 2.37rem;
  color: #E87346;
  line-height: 1.77rem;
  margin-bottom: 1rem;
}

.header .nav .sub-logo {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
  color: #E87346;
}

.header .nav-list .nav-item {
  margin: 1rem 0 0;
  display: inline-block;
}

.header .nav-list .nav-item .nav-link {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  list-style-type: none;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

.header .nav-list .nav-item .nav-link:hover {
  color: #E8D646;
}

.header .nav-list .nav-item .nav-link:active {
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  opacity: .3;
}

.header .nav-list .nav-item + .nav-item {
  margin-left: 2.37rem;
}

.call-to-action {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 100%;
}

.call-to-action .call-to-action-title {
  margin-bottom: 30px;
  color: #2F2F2F;
}

.call-to-action .call-to-action-text {
  padding-left: 15px;
  width: 95%;
  max-width: 60ch;
  text-align: justify;
  line-height: 1.9rem;
  letter-spacing: -0.04em;
  padding-bottom: 1rem;
  display: block;
  margin: 0 auto;
}

.call-to-action .call-to-action-picture {
  display: block;
  background-image: url("../noodles-3201631_640.jpg");
  background: no-repeat contain;
  padding: 50vh 0 0;
  background-clip: border-box;
}

.info-graph .info-graph-container {
  background-color: #333;
}

.info-graph .info-graph-container a {
  color: #9FFF47;
}

.info-graph .info-graph-container .info-graph-title {
  color: #9FFF47;
  text-align: center;
  padding: 2.37rem;
  margin-bottom: 1.77rem;
}

.info-graph .info-graph-container .info-graph-text {
  padding-left: 15px;
  width: 95%;
  max-width: 60ch;
  text-align: justify;
  line-height: 1.9rem;
  letter-spacing: -0.04em;
  color: #fffefe;
  padding-bottom: 1rem;
}

.figure .canvas-resize {
  height: 80vh;
  width: 100%;
  padding-top: 30px;
}

@media (min-width: 800px) {
  .header {
    margin-bottom: 1.77rem;
  }
  .call-to-action {
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .call-to-action div {
    width: 70%;
  }
  .call-to-action .call-to-action-title {
    text-align: none;
  }
  .call-to-action .call-to-action-picture {
    background-image: url("../noodles-3201631_1280.jpg");
    width: 50%;
    outline: dotted #FFC259 10px;
    margin-right: 20px;
  }
  .info-graph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info-graph .info-graph-container {
    width: 50%;
  }
  .info-graph .info-graph-container .info-graph-text {
    display: block;
    margin: 0 auto;
    padding-left: 0;
  }
  .info-graph .figure {
    width: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */