
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Noto+Sans+JP:wght@400;700;900&display=swap');
@mixin Coiny {
    font-family: 'Coiny', cursive;
}
@mixin Noto {
    font-family: 'Noto Sans JP', sans-serif;
}
@mixin Paragraph {
    display: block;
    margin: 0 auto 4.21rem;
    max-width: 60ch;
    width: 90%;
    text-align: justify;
    line-height: 1.9rem;
    letter-spacing: -0.04em;
}
//======Root=======
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    @include Noto();
    text-align: center;
}

//======Colors=======
$orange: #FFC259;
$mustard: #E8D646;
$lime: #9FFF47;
$brownish: #E87346;
$black: #2F2F2F;
$grey: #333;
$white: #fffefe;

//======Nav=======
.header {
    .nav {
        text-align: center;
        background-color: $white;
        .logo {
            @include Coiny();
            font-size: 2.37rem;
            color: $brownish;
            line-height: 1.77rem;
            margin-bottom: 1rem;
        }
        .sub-logo {
            @include Noto();
            font-size: 1rem;
            color: $brownish;
        }
    }
    .nav-list {
    
        .nav-item {
            margin: 1rem 0;
            display: inline-block;
            .nav-link {
                color: $grey;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                list-style-type: none;
                transition: opacity 400ms;
                &:hover {
                    color: $mustard;
                }
                &:active {
                    transition: opacity 400ms;
                    opacity: .3;
                }
            }
        }
        .nav-item + .nav-item {
            margin-left: 2.37rem;
        }

    }
}
//======CTA=======
.call-to-action {
    
    margin: 1.77rem 0 5.5rem;
    .call-to-action-title {
        margin-bottom: 1rem;
        color: $black;
    }
    .call-to-action-text {
        @include Paragraph();
    }
}




//======Figure=======
.info-graph {
    .info-graph-container {
        background-color: $grey;
        a {
            color: $lime;
        }
        .info-graph-title {
            color: $lime;
            text-align: center;
            padding: 2.37rem;
            margin-bottom: 1.77rem;
        }
        .info-graph-text {
            @include Paragraph();
            color: $white;
        }
    }
}


.figure {
    .canvas-resize {
        height: 80vh;
        width: 100%;
        // .ramen-reviews {
        //     border: 1px solid red;
        // }
    }

}


@media (min-width: 800px) {
    .call-to-action {
        height: 40vh;
        margin: 7.37rem calc(50px + 45vw) 10rem 0;
    }
    .info-graph {
        display: flex;
        justify-content: space-around;
        .info-graph-container {
            width: 50%;
        //     .info-graph-title {
        //         background-color: $grey;
        //         color: $lime;
        //         text-align: center;
        //         padding: 2.37rem;
        //         margin-bottom: 1.77rem;
        //     }
        //     .info-graph-text {
        //         @include Paragraph();
        //     }
        }
        .figure {

            width: 50%;
        }
    }
}