
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Noto+Sans+JP:wght@400;700;900&display=swap');
@mixin Coiny {
    font-family: 'Coiny', cursive;
}
@mixin Noto {
    font-family: 'Noto Sans JP', sans-serif;
}
@mixin Paragraph {
    padding-left: 15px;
    width: 95%;
    max-width: 60ch;    
    text-align: justify;
    line-height: 1.9rem;
    letter-spacing: -0.04em;
}
//======Root=======
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    @include Noto();
    text-align: center;
}

//======Colors=======
$orange: #FFC259;
$mustard: #E8D646;
$lime: #9FFF47;
$brownish: #E87346;
$black: #2F2F2F;
$grey: #333;
$white: #fffefe;

//======Nav=======
.header {
    .nav {
        text-align: center;
        background-color: $white;
        .logo {
            @include Coiny();
            font-size: 2.37rem;
            color: $brownish;
            line-height: 1.77rem;
            margin-bottom: 1rem;
        }
        .sub-logo {
            @include Noto();
            font-size: 1rem;
            color: $brownish;
        }
    }
    .nav-list {
    
        .nav-item {
            margin: 1rem 0 0;
            display: inline-block;
            .nav-link {
                color: $grey;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                list-style-type: none;
                transition: opacity 400ms;
                &:hover {
                    color: $mustard;
                }
                &:active {
                    transition: opacity 400ms;
                    opacity: .3;
                }
            }
        }
        .nav-item + .nav-item {
            margin-left: 2.37rem;
        }

    }
}
//======CTA=======
.call-to-action {
    // background-image: url('../drawing2.svg');
    .call-to-action-container {
        background-image: url("../drawing2.svg");
        background-size: cover;
    }
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 100%;
    .call-to-action-title {
        margin-bottom: 30px;
        color: $black;
    }
    .call-to-action-text {
        mix-blend-mode: hard-light;
        @include Paragraph();
        padding-bottom: 1rem;
        display: block;
        margin: 0 auto;
        
    }
    .call-to-action-picture {
        display: block;
        background-image: url("../noodles-3201631_640.jpg");
        background: no-repeat contain;
        padding: 30vh 0 0;
        
        background-clip: border-box;
    }
}




//======Figure=======
.info-graph {
    .info-graph-container {
        background-color: $grey;
        a {
            color: $lime;
        }
        .info-graph-title {
            color: $lime;
            text-align: center;
            padding: 2.37rem;
            margin-bottom: 1.77rem;
        }
        .info-graph-text {
            @include Paragraph();
            color: $white;
            padding-bottom: 1rem;
        }
    }
}


.figure {
    .canvas-resize {
        height: 80vh;
        width: 100%;
        padding-top: 30px;
        // .ramen-reviews {
        //     border: 1px solid red;
        // }
    }

}


@media (min-width: 800px) {
    .header {
        margin-bottom: 1.77rem;
    }
    .call-to-action {
        height: 80vh;
        display: flex;
        div {
            width: 70%;
        }
        .call-to-action-title {
            text-align: none;
        }
        .call-to-action-picture {
            background-image: url('../noodles-3201631_1280.jpg');
            width: 50%;
            outline: dotted $orange 10px;
            margin-right: 20px;
        }
        // .call-to-action-text {
            
        // }
        
    }
    .info-graph {
        display: flex;
        justify-content: space-around;
        .info-graph-container {
            width: 50%;
            
            .info-graph-text {
                display: block;
                margin: 0 auto;
                padding-left: 0;
            }
        }
        .figure {

            width: 50%;
        }
    }
}